@using DungeonMasterServices
@inject IStoryService StoryService

@page "/story"

<h3>Generar Historia</h3>

<button @onclick="GenerateStory">Generar Historia</button>

<p>@story</p>

@code {
    private string story;

    private async Task GenerateStory()
    {
        story = await StoryService.GetStory();
    }
}
