@using DungeonMasterServices
@inject IStoryService StoryService

@page "/story"

<h3>Generar Historia</h3>

<Button Class="btn btn-primary" @onclick="GenerateStory">Generar Historia</Button>

<p>@story</p>